<footer class="footer">
  <div class="container">

    <div>
      <img src="/assets/me-2019.jpeg" alt="Jakub Pomykała in 2019" class="avatar"/>
    </div>

    <ul class="list-inline my-4">

      <li class="list-inline-item">
        <a href="https://github.com/jpomykala" target="_blank">
          <i class="fab fa-github fa-2x"></i>
        </a>
      </li>

      <li class="list-inline-item">
        <a href="https://twitter.com/jakub_pomykala" target="_blank">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
      </li>

      <li class="list-inline-item">
        <a href="https://www.instagram.com/jpomykala" target="_blank">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
      </li>

    </ul>
  </div>
  <p class="text-center">
    Made with ABBA on <i class="fas fa-headphones"></i>
  </p>
</footer>
