<footer class="footer">
  <div>
    <a href="https://jpomykala.com"><img src="/assets/me-2021.jpeg" alt="Jakub Pomykała" class="avatar"/></a>

    <div class="profiles">
      <a href="https://github.com/jpomykala" target="_blank">
        <i class="fab fa-github fa-2x"></i>
      </a>
      <a href="https://twitter.com/jakub_pomykala" target="_blank">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
      <a href="https://www.instagram.com/jpomykala" target="_blank">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
    </div>
  </div>
  <p class="made-with">
    Made with ABBA on <i class="fas fa-headphones"></i>
  </p>
</footer>
