<footer class="footer">
  <div>
    <a href="https://jpomykala.com"><img src="/assets/me-2021.jpeg" alt="Jakub Pomykała" class="avatar"/></a>

    <div class="profiles">
      <svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>
      <a href="https://github.com/jpomykala" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://twitter.com/jakub_pomykala" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/jpomykala" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
  <p class="made-with">
    Made with ABBA on <i class="fas fa-headphones"></i>
  </p>
</footer>
