<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="p:domain_verify" content="e2c4555f57ed4daba81b593d97d55958"/>

<meta property="og:image" content="https://get.renderform.io/og/v0ZUWI5nvvHbE4RiIb0f.jpg?url={{site.url}}{{page.url}}">
<meta name="twitter:image" content="https://get.renderform.io/og/v0ZUWI5nvvHbE4RiIb0f.jpg?url={{site.url}}{{page.url}}">
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{{page.title}}"/>
<meta name="twitter:description" content="{{page.title}}"/>
<meta name="rf:title:text" content="{{page.title}}"/>
<script defer data-domain="jpomykala.com" data-api="/conky/ricky/event" src="/conky/julian/script.js"></script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Jakub Pomykala",
    "url": "https://jpomykala.com",
    "image": "https://jpomykala.com/images/me-2021.png"
  }
</script>

{% if page.title %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "TechArticle",
    "name": "{{page.title}}",
    "url": "{{site.url}}{{page.url}}"
  }
</script>
{% endif %}

