<div class="row mb-5 mt-2 d-flex align-content-center align-items-center">
  <div class="col-md-3 col-12">
    <img alt="Jakub Pomykała in 2019" src="/assets/me-2019.jpeg" class="avatar-lg"/>
  </div>

  <div class="col-md-9 col-12">
    <h1>Hi, I'm Jakub!</h1>

    <p class="use-dashed-links">
      I'm a backend developer, who likes <strong>data visualization</strong> on front-end. Interested in software architecture,
      <a href="#projects">own projects</a>, and data charting. Passionate about JVM internals. Disappointed with the quality of
      software written these days, hates long methods and overcomplicated code.
      Occasionally, I <a href="/photos">take photos</a>, and <a href="/posts">write posts</a> about something what I think is unique and
      useful. I like to play in Sketch and create UI designs even though I'm color blind. 😎
    </p>

  </div>
</div>
