<div>
    <div class="intro-header">
        <img alt="Jakub Pomykała in 2023" src="/assets/me-2023.jpeg" class="avatar-lg"/>
        <div class="text-header">
            <h1>Hi, I'm Jakub!</h1>
            <a href="mailto:hey@jpomykala.com">hey@jpomykala.com</a>
        </div>
    </div>
    <p>
        I'm a software developer.
        I started programming when I was 15. Since then, I built an Android game which was the
        most popular game in Poland for a while, finished my CS M.Sc. degree,
        and I worked in a few software houses and startups.
        Currently, I focus on my own products, where I take care of programming and UI design
        even though I'm color-blind. 😎
    </p>
    <p>
        You may find me on some social media services, but I'm not a fan of them, so I'm not active there.
        I try to keep my life private and keep a good work-life balance. 😊
    </p>

</div>
