---
---

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

$primary-font: 'Open Sans', sans-serif;

img {
  padding-top: 10px;
  padding-bottom: 10px;
}

.post-content{
  img {
    display: block;
    max-height: 70vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}



hr {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.avatar {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}

.post-img-excerpt {
  max-height: 250px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.post-img-header {
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.caption {
  font-style: italic;
  text-align: center;
}

.avatar-lg {
  max-width: 140px;
  max-height: 140px;
  border-radius: 50%;
}

.round {
  max-width: 80px;
  max-height: 80px;
  border-radius: 50%;
}

.nice-image {
  max-width: 80%;
}


.page-link{
  display: initial;
}

.trigger {
  display: inline;
 a {
   display: inline;
 }
}

* {
  font-family: $primary-font;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3a4344;
  line-height: 1.8rem;
  font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  margin-top: 2rem;
  font-weight: 600;
}


h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  color: #555;
  margin-top: 5rem;
}

h3 {
  font-size: 1.3rem;
  color: #666;
}

h4 {
  font-size: 1.0rem;
}

h5 {
  font-size: 1.6rem;
}

p {

  text-align: justify;
}

.footer {
  background: #f7f7f7;
  opacity: 1;
  text-align: center;
  line-height: 2;
  margin-top: 5rem;
  border-top: 1px solid rgba(120,120,120,.08);
  color: #889;
  font-size: .9rem;
  padding: 5rem 0;
  background: rgba(120,120,120,.05);
  box-shadow: inset 0 10px 10px -10px rgba(0,0,0,.05);

  p {
    font-size: 0.8rem;
  }

  .list-inline {
    margin: 0;
  }

  li {
    margin: 0 10px;
  }
}

