<!DOCTYPE html>
<html lang="en">

{%- include head_custom.html -%}
{%- include head.html -%}

<body>
{%- include header.html -%}
<main class="page-content" aria-label="Content">
  <div class="wrapper">
    {{ content }}
  </div>
</main>

{%- include footer.html -%}

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
</html>
