---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">

    <div class="post-navigation">
      <a href="/posts/">← Back to posts</a>
      <a href="{{ "/feed.xml" | relative_url }}" class="feed-subscribe">RSS Feed</a>
    </div>
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="meta-entry" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}

      <span class="meta-entry mx-1">•</span>
      <span class="meta-entry">Last updated:</span>
      {%- assign mdate = page.modified_date | date_to_xmlschema -%}
      <time class="meta-entry" datetime="{{ mdate }}" itemprop="dateModified">
        {{ mdate | date: date_format }}
      </time>
      {%- endif -%}
      <span class="meta-entry mx-1">•</span>
      {% for tag in page.tags %}
        <span class="meta-entry">{{ tag }}</span>
      {%- if forloop.last == false %}, {% endif -%}
      {% endfor %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-navigation">
    <a href="/posts/">← Back to posts</a>
    <a href="{{ "/feed.xml" | relative_url }}" class="feed-subscribe">RSS Feed</a>
  </div>


  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
